name: Pages

on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Generate stats
      id: stats
      uses: cicirello/user-statistician@v1
      with:
        colors: onedark
        include-title: false
        commit-and-push: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Upload Pages artifact
      uses: actions/upload-pages-artifact@v4
      with:
        path: ./

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: stats
    steps:
    - uses: actions/deploy-pages@v4
